<!-- float.css -->

#wrapper 
{
	width: 1200px;
	margin: 0 auto;
}

div.floating-menu		/* BEGIN FLOATING MENU CODE */
{
	position:fixed;
	background:transparent;
	border:1px solid;
	border-color:#e0e0e0;
	width:45px;
	height:30px;
	z-index:100
}

div.floating-menu a, div.floating-menu
{
	display:block;margin:0 0em;
}

#nav 	
{
	margin: 0;    
  	padding: 0;
  	background:tansparent;
  	list-style-type: none;
  	width: 45px;
  	float: left; /* Contain floated list items */
}

#nav li 
{
	margin: 0;
  	padding: 0;
  	float: left; /* This corrects the */
  	width: 100%; /* IE whitespace bug */
}

#nav a 
{    
	display: block;  /* to increase clickable area as a's default to inline */
	font-family:Arial, Helvetica, sans-serif;
	font-size:.9em;
	font-weight: 900;
  	color: #ff0000;
  	text-decoration: none;
  	padding: 0 10px;
  	line-height: 2;
  	border-bottom: 1px solid #FFF;
}

#nav #nav_con a 
{
	border: none;
}

#nav a:hover 
{  
	background:#00FF00;
}

#body_hom #nav_hom a,
{
	background:transparent;
  	color: #fff;
  	font-weight: bold;
}				/* END FLOATING MENU CODE */













































