<!-- side-scroll.css -->

* 
{
    margin:0;
    padding:0;
}

#outer-wrapper 
{
    width:900px;
    margin: 30px auto;
    border:1px solid #000;
    background:#000;
    padding:10px 0 25px 0;
}

#slide-wrap 
{
    width: 820px; 
    height: 640px;
    margin:0 auto;
    overflow: auto; 
    background:#000;
    border:1px solid #000;
}

#inner-wrap 
{
    float:left;
    margin-right:-30000px;/*Be safe with Opera's limited negative margin of 32695px (-999em could cause problems with large font sizes)*/
    padding-left:20px;
}